<div class="container">
  <div class="row">
    <h1>Short Url</h1>
  </div>
  <div class="row">
    <%= form_with url: '/shortened_urls', class: 'row gx-3 gy-2 align-items-center' do |form| %>
      <div class="col-md-5">
        <div class="input-group">
          <div class="input-group-text">Please Insert the Url:</div>
          <%= form.url_field :full_url, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-5">
        <%= form.submit 'Shorten', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <%= link_to 'Generated Urls', shortened_urls_path %>
  </div>
</div>
