<h1>Short Url</h1>

<%= form_with url: 'parse_url', method: :post do |form| %>
  <%= form.label :string_url, 'Please insert the url:' %>
  <%= form.url_field :string_url %>
  <%= form.submit 'Short Url' %>
<% end %>
